/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --Inter: 'Inter', sans-serif;
  --Kaushan: 'Kaushan Script', cursive;
  --Mont: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.5;
  font-family: var(--Mont);
  background-color: #44355b;
  color: #fff;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 5%;
  background: #1e1c2a;
  align-items: center;
}

.nav, .nav .nav-links {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav .logo {
  color: #ff702a;
  background: #1e1c2a;
  font-weight: 600;
  font-size: 2.4rem;
  text-decoration: none;
}

.logo:hover {
  color: white;
}

.nav .nav-links {
  column-gap: 20px;
  list-style: none;
  color: #fff;
}

.nav .nav-links a {
  transition: all 0.2s linear;
  font-size: 1.1rem;
  padding: 10px 20px;
  font-weight: 500;
}

.nav .nav-links a:hover {
  color: orange;
}


.main b u {
  margin-right: 25px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.ri-user-fill{
  color: orange;
  font-size: 28px;
  margin-right: 7px;
} 

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.nav .search-icon:hover {
  color: orange;
}

.nav .search-box {
  position: absolute;
  right: 550px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}

.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn, .nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width:1160px) {
  .nav {
    padding: 15px 100px;
  }

  .nav .search-box {
    right: 150px;
  }

}

@media screen and (max-width:950px) {
  .nav {
    padding: 15px 50px;
  }

  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }

}

@media screen and (max-width:768px) {
  .nav .navOpenBtn, .nav .navCloseBtn {
    display: block;
  }

  .nav {
    padding: 15px 20px;
  }

  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }

  .nav.openNav .nav-links {
    left: 0;
  }

  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

}
.logo1{
  width: 36px;
  border-radius: 50%;
}
 .sub-menu-wrap
{
  position: absolute;
  top:90%;
  right: 5%;
  width: 300px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  
}
.sub-menu-wrap.open-menu{
  max-height: 300px;
}
.sub-menu{
  background:#fff;
  padding: 20px;
  margin:10px;
}
.user-info{
  display: flex;
  align-items: center;

}
.user-info h2{
  font-weight:500;
  color: black;
}
.user-info img {
  width: 36px;
  border-radius: 50%;
  margin-right: 15px;
}
.sub-menu hr {
  border:0;
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 15px 0 10px;
}
.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}
.sub-menu-link p{
  width: 100%;
}
.sub-menu-link img {
  width: 40px;
  background: #e5e5e5;
  border-radius: 50%;
  padding: 8px;
  padding-right: 15px;

}
.sub-menu-link:hover p{
  font-weight: 600;

}
