@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #8e44ad;
  color: #fff;
}
html,body{
  display: grid;
  height: 100%;
  background: #44355b;
}
.container{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.container .box{
/*  background: #fff;*/
  width: 100%;
  overflow: hidden;
  top : 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px;
  border: 2px solid #fff;
  transition: margin-bottom 0.5s;
}


.container .box .image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #8e44ad;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name_job{
  margin: 10px 0 3px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.btns a{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btns a button{
  background: #fff;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
 color: #8e44ad;
  transition: all 0.3s linear;
   margin-right: 5px;
}

.btns a button:hover{
     color: #fff;
     background: #8e44ad;
}

@media (max-width:1200px){
  .container .box{
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width:800px){
  .container .box{
    width: 100%;
  }
  
}


.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}




.menu{
  margin: 2rem 0;
  max-width: 100%;
  margin: auto;
}
.menu-container{
  display: inline;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
img{
  width: 100%;
  display: block;
}
.menu-head{
  text-align: center;
}
.menu-head h2{
  font-family: var(--Kaushan);
  font-size: 2.6rem;
}
.menu-head p{
  font-weight: 300;
  padding: 1.8rem 0;
}
.menu-btns{
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;
}
.menu-btn{
  font-family: var(--Inter);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  background:none;
  border: none;
  color: #ff9505;
  display: block;
  margin: 0 1rem;
  cursor: pointer;
  outline: 0;
  transition: opacity 0.4s ease-out;
}
.menu-btn::after{
  content: "";
  display: block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #ff9505;
  margin-top: 0.5rem;
  width: 0;
  transition: width 0.4s ease-out;
}
.menu-btn:hover::after{
  width: 100%;
}
.menu-btn:hover{
  opacity: 0.8;
}
.active-btn{
  color: #fff;
}

.food-items{
  margin: 2rem 0;
}

.food-item{
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  color: #000;
  margin: 0.6rem 0;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
  display:flex ;
  animation: fadeIn 2s;
}
@keyframes fadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
.food-img img{
  border-radius: 4px;
  width: 100%;
}
.food-content{
  padding: 1rem;
}
.food-name{
  font-family: var(--Inter);
  color: #ff9505;
  font-weight: 500;
  text-transform: capitalize;
}
.line{
  width: 100px;
  height: 1px;
/*    background: #ff9505;*/
}
h3.dia_chi {
  padding: 0.4rem 0;
  font-weight: 300;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
}
.food-price{
  padding: 0.4rem 0;
  font-weight: 600;
  font-size: 1rem;
  opacity: 0.8;
}
.rating{
  display: flex;
  list-style: none;
}
.rating .fa-star{
  margin-right: 0.4rem;
  color: #44355b;
}

.category
{
  padding: 0.4rem 0;
  font-weight: 300;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
}


.chi_tiet{
  width: 100%;
display: flex;
justify-content: space-around;
margin-top: 20px;
border-radius: 20px;
}
.chi_tiet:hover{
  background: #6616d0;
}

@media screen and (min-width: 600px){
  .food-item{
      display: grid;
      grid-template-columns: 25% auto;
      align-items: center;
      padding: 1rem;
      column-gap: 1rem;
  }
  .food-content{
      padding: 0;
  }
}

@media screen and (min-width: 768px){
  .menu-head p{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-width: 992px){
  .menu-head p{
      width: 50%;
  }
  .food-items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
  }
}
